import React from 'react';
import PropTypes from 'prop-types';

import {
  combineClasses,
} from '~/util';

import styles from './{{pascalCase name}}.module.scss';

export function {{pascalCase name}}({
  className,
  ...rest
}) {
  return (
    <div data-test="{{camelCase name}}"
      className={combineClasses(styles.{{pascalCase name}}, className)}
      {...rest}
    >
    </div>
  );
}

{{pascalCase name}}.propTypes = {
};

export default function Connected(props) {
  return <{{pascalCase name}} />;
}
